<div class="container">

    <form action="/sendRequest" #requestRef="ngForm" (ngSubmit)="requestProduct(requestRef.value)">
        <h2>Send Request to Admin</h2>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Product Name:</span>
            <input type="text" id="productName" name="productName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel><br/><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Quantity: </span>
            <input type="number" id="quantity" name="quantity" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel><br/><br/>
        </div>
        <input type="submit" value="Request" class="btn btn-primary" />
        <input type="reset" value="Reset" style='margin-left:16px' class="btn btn-primary" />
    </form><br/>
    <div class="align">
        {{Msg}}
    </div>
</div>

