<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <h2> Raise Request Form </h2>
            <!--Form Model-->
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="UserEmail" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.UserEmail" placeholder="Enter User Email" required>
                  <label>User Email id :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Reason" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.Reason" placeholder="Eg : For entering wrong password 3 times">
                  <label>Reason :</label>
                </div>
              </div>
              
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
