<div class="container">
    <form #empRef="ngForm">
        <h2>Employee Login Page</h2>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" name="_id" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/>
        </div>
        <input type="button" value="Log In" (click)="login(empRef.value)" class="btn btn-primary" />
        <input type="button" value="Go Back" (click)="goBackToIndex()" style='margin-left:16px' class="btn btn-success" />
    </form><br/>
    <div class="align">
        {{msg}}
    </div>
</div>