<h3>Cart Info</h3>
<!--User Cart Table -->
<table border="1">
  <tr>
    <th>Option</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <tr *ngFor="let item of items">
    <td align="center">
      <input type="button" value="Remove" (click)="remove(item)">
    </td>
    <td>{{item.pname}}</td>

    <td>{{item.price}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.price * item.quantity}}</td>
  </tr>
  <tr>
    <td colspan="6" align="right">Total</td>
    <td>{{total}}</td>
  </tr>
</table>
{{msg}}
<br/>
<br/>
<button class="button" (click)="checkout()">CheckOut</button>
