<p>Welcome User</p>

<!--div>
    <h2>Select Item & Quantity</h2>
    <table border="1">
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let pp of products">
                    <td>{{pp._id}}</td>
                    <td>{{pp.item}}</td>
                    <td>{{pp.price}}</td>
                    <td>{{pp.quantity}}</td>
            </tr>
    </table>
</div>
<!--
<div>
    <h2>Delete Item by ID</h2>
    Id :<input type="text" #idRef/><br/>
    <input type="button" value="Delete By Id"
    (click)="deleteById(idRef.value)"/><br/>
    {{deleteMsg}}
</div> -->
<!-- 
<div>
    <h2>Checkout</h2>
    <input type="button" value="Checkout"
    (click)="checkout()"/>
   <input type="button" value="Reset"
    (click)="reset()"/><br/>
</div>-->

<div>
    <h2>Total Items Bought</h2>
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr *ngFor="let pp of products">
                <td>{{pp.item}}</td>
                <td>{{pp.price}}</td>
                <td>{{pp.quantity}}</td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <th>Total Price</th>
        </tr>
        <tr *ngFor="let pp of products">
                <td>{{pp.price}}</td>
        </tr>
</table>
</div-->

<div>
    <input type="button" value="Order Status" (click)="showSendRequest()" class="btn btn-primary"/>
    <input type="button" value="Edit Profile" (click)="showEditProfile()" class="btn btn-primary"/>
    <input type="button" value="View Funds" (click)="showFunds()" class="btn btn-primary"/>
    <input type="button" value="Add Funds" (click)="addFunds()" class="btn btn-primary"/>
    <input type="button" value="Logout" (click)="showLogout()" class="btn btn-primary"/>
</div>
<div class="container-fluid">
    <div *ngIf="display=='sendRequest'">
        <app-user-send-request></app-user-send-request>
    </div>
    <div *ngIf="display=='editProfile'">
        <app-user-edit-profile></app-user-edit-profile>
    </div>
    <div *ngIf="display=='showFunds'">
        <app-user-view-funds></app-user-view-funds>
    </div>
    <div *ngIf="display=='addFunds'">
        <app-user-add-funds></app-user-add-funds>
    </div>
    <div *ngIf="display=='logout'">
        <app-user-logout></app-user-logout>
    </div>
</div>