<div>
    <h2>User Registration Page</h2>
    <label>Name </label>
    <input type="text" name="name" ngModel><br/>
    <label>Email </label>
    <input type="text" name="email" ngModel><br/>
    <label>Username </label>
    <input type="text" name="username" ngModel><br/>
    <label>Password </label>
    <input type="text" name="password" ngModel><br/>
    <input type="button" value="Register" (click)="onRegisterSubmit()" class="btn btn-success"/> 
    <input type="button" value="Go Back" (click)="goBackToLogin()" class="btn btn-success"/>  
</div>