<div>
    <h2>User Registration Page</h2>
    <form #regRef="ngForm">
        <label>First Name </label>
        <input type="text" name="fname" ngModel><br/>
        <label>Last Name </label>
        <input type="text" name="lname" ngModel><br/>
        <label>Date Of Birth </label>
        <input type="date" name="dob" ngModel><br/>
        <label>Phone Number </label>
        <input type="text" name="pnumber" ngModel><br/>
        <label>Address </label>
        <input type="text" name="address" ngModel><br/>
        <label>Email </label>
        <input type="text" name="email" ngModel><br/>
        <label>Password </label>
        <input type="text" name="password" ngModel><br/>
        <input type="button" value="Register" (click)="register(regRef.value)" class="btn btn-success"/>
        <input type="button" value="Go Back" (click)="goBackToLogin()" class="btn btn-success"/> 
    </form>

    <div class="success" *ngIf="showSuccessMessage">
        Register Success!!!
    </div>
</div>