<div>
    <h2>Admin Login Page</h2>
    <title>Admin</title>
    <form [formGroup]="loginRef" (ngSubmit)="checkAdmin()">
        <label>UserName: </label>
        <input type="text" formControlName="user"/><br/>
        <label>Password: </label>
        <input type="password" formControlName="pass"/><br/>
        <input type="submit" value="Log In" class="btn btn-primary"/>
        <input type="reset" value="Reset" class="btn btn-primary"/>
        <input type="button" value="Go Back" (click)="index()" class="btn btn-primary"/>
    </form>
    {{msg}}
</div>