
<div>
    <form #productRef="ngForm" (ngSubmit)="addProd(productRef.value)">
        <label>Quantity</label>
        <input type="text" name="quant" ngModel><br/>
        <label>ProductName</label>
        <input type="text" name="pname" ngModel><br/>
        <label>Price</label>
        <input type="text" name="price" ngModel><br/>
        <label>ID</label><br/>
       
        <input type="submit" value="Add"/>
        <input type="reset" value="reset"/>
    </form>
    
</div>
<br/>
<div>
    <table border="1">
            <tr>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>ID</th>
            </tr>
            <tr *ngFor="let pp of products; let i = index">
                    <td>{{pp.pname}}</td>
                    <td>{{pp.quant}}</td>
                    <td>{{pp.price}}</td>
                    <td>{{i+1}}</td>
                    
            </tr>
    </table>
</div>
