<div>
    <h2>User Login Page</h2>
    <form #usrRef="ngForm" action="http://localhost:9090/api/user/login" method="post">
        <label>Email </label>
        <input type="text" name="email" ngModel required><br/>

        <label>Password </label>
        <input type="text" name="password" ngModel required><br/>
       <!--<input type="button" value="Log In" (click)="login()" class="btn btn-success"/> --> 
        <input type="button" value="Log In" (click)="login(usrRef.value)" class="btn btn-success"/>

        <!-- Routes to register -->
        <input type="button" value="Register" (click)="register()" class="btn btn-success"/>
        <input type="button" value="Go Back" (click)="goBackToIndex()" class="btn btn-success"/>
        <input type="button" value="Raise Ticket" (click)=raiseTicket() class="btn btn-success"/>
    </form>
    {{msg}}
</div>