<div>
    <h2>User Login Page</h2>
    <form #usrRef="ngForm" action="http://localhost:9090/api/user/login" method="post">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="text" name="email" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/>
        </div>
        <input type="button" value="Log In" (click)="login(usrRef.value)" class="btn btn-primary"/>

        <!-- Routes to register -->
        <input type="button" value="Register" (click)="register()" class="btn btn-primary"/>
        <input type="button" value="Go Back" (click)="goBackToIndex()" class="btn btn-primary"/>
        <input type="button" value="Raise Ticket" (click)=raiseTicket() class="btn btn-primary"/>
    </form>
    {{msg}}
</div>