a {
    border-radius: 20px; color: rgb(255, 255, 255); background-color: blue;
    left: 550px; top: 25px; position: absolute; height: 70px; width: 200px; 
    text-align: center; vertical-align: middle; font-size: 42px; text-decoration: none;
}