
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Welcome Admin! </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <button class="btn btn-outline-primary" type="button" (click)="home()">Back to Home Page</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary" type="button" (click)="addProduct()">Add Product</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary" type="button" (click)="deleteProduct()">Delete Product</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary" type="button" (click)="updateProduct()">Update Product</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary" type="button" (click)="viewReq()">View Requests</button>
                </li>
            </ul>
        </div>
    </div>

</nav>

<p>Please add items to the e-store</p>
<div>
    <form #shopsRef="ngForm" (ngSubmit)="createItem(shopsRef.value)">
        <label>ID </label>
        <input type="text" name="pid" ngModel><br/>
        <label>Item </label>
        <input type="text" name="pname" ngModel><br/>
        <label>Price </label>
        <input type="text" name="price" ngModel><br/>
        <label>Quantity </label>
        <input type="text" name="quantity" ngModel><br/>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </form>
</div>
<br/><br/>

<p>Add Employee to the Employee Database</p>
<div>
    <form #empRegisterSubmit="ngForm" action="http://localhost:9090/api/emp/signup" method="post">
        <label>Employee ID </label>
        <input type="text" name="empId" ngModel><br/>
        <label>Employee Password </label>
        <input type="text" name="password" ngModel><br/>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </form>
    <div class="success" *ngIf="showSuccessMessage">
        Register Success!!!
    </div>
</div>