<div class="container">

    <form #orderRef="ngForm">
        <h2>Update Order</h2>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Order ID</span>
            <input type="text" name="id" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Status</span>
            <input type="text" name="status" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/><br/>
        </div>
        <input type="button" value="Update Order" (click)="updateOrder(orderRef.value)" class="btn btn-primary" />
    </form>
    {{msg}}

    <div *ngIf="orders.length>0">
        <h4>Current Orders</h4>
        <table border="1">
            <tr>

                <th>Order Id</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            <tbody *ngFor="let o of orders">
                <td>{{o._id}}</td>
                <td>{{o.amount}}</td>
                <td>{{o.status}}</td>
            </tbody>
        </table>
    </div>

</div>