<div>
    <h2>Edit User Page</h2>
    <form #userRef="ngForm">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Eamil</span>
            <input type="text" name="email" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">First Name</span>
            <input type="text" name="fname" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
            <input type="text" name="lname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Date of Birth</span>
            <input type="date" name="dob" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
            <input type="text" name="pnumber" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
            <input type="text" name="address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" ngModel required><br/>
        </div>
        <!--label>Email</label>
        <input type="text" name="email" ngModel required><br/>
        <label>Password</label>
        <input type="password" name="password" ngModel required><br/>
        <label>First Name</label>
        <input type="text" name="fname" ngModel required><br/>
        <label>Last Name</label>
        <input type="text" name="lname" ngModel required><br/>
        <label>Date of Birth</label>
        <input type="date" name="dob" ngModel required><br/>
        <label>Phone Number</label>
        <input type="text" name="pnumber" ngModel required><br/>
        <label>Address</label>
        <input type="text" name="address" ngModel required><br/-->
        <input type="button" value="Update User"  (click)="updateUser(userRef.value)" class="btn btn-primary"/>
    </form>
    {{msg}}
</div>